*.DS_Store
*.cache
*.dll
*.pdb
*/obj
*/bin
.vscode/*
*assemblyattributes.cs
*filelistabsolute.txt
*.copycomplete
*coverage.json
*lcov.info
*.tmp
*.runtimeconfig*.json
*.deps.json
*.dgspec.json
*project.assets.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json